.seccion-principal {
    background-color: darkcyan;
    width: 200px;
    height: 200px; 
    display:inline-block; 
    text-align: center;

    border:3px dotted darkseagreen;
    padding: 30px;
    margin: 10px;
    box-sizing: border-box;
}
.dentro {
    background-color: darkgoldenrod;
    width: 50px;
    height: 50px;
}
.seccion-secundaria { 
    background-color: lightblue;
    width: 400px;
    height: 200px;
}
.seccion-entreseccion {
    background-color: lightseagreen;
}
.seccion-terciaria {
    background-color: lightcoral;
}
.seccion-vacia {
    background-color: lightyellow;
}
.contenedor {
    background-color: lightcoral;
    border: 3px solid goldenrod;
    text-align: center;
}
.imagen{
    width: 160px;
    height: auto;
}